
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #20212C6A;
    sel-foreground: #20212C;
    background-alt: #282B3C00;
    foreground:     #C0CAF5;
    selected:       #BD93F9;
    active:         #33CCFF;
    urgent:         #50FA7B;
	border:			#BD93F9;
}
